<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>flow</string>
			</array>
		</dict>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Flow uses the camera to scan profile QR codes and capture photos and videos for your notes.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Flow uses the microphone for voice-to-text and video capture while composing notes.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Flow saves remixed images to your photo library when you choose Save.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Flow uses speech recognition to transcribe your voice into note text.</string>
	<key>UIAppFonts</key>
	<array>
		<string>DMSans.ttf</string>
		<string>EBGaramond.ttf</string>
		<string>ElmsSans.ttf</string>
		<string>GeistSans.ttf</string>
		<string>HubotSans.ttf</string>
		<string>Inter.ttf</string>
		<string>MonaSans.ttf</string>
		<string>Nacelle-Bold.otf</string>
		<string>Nacelle-Italic.otf</string>
		<string>Nacelle-Regular.otf</string>
		<string>Nacelle-SemiBold.otf</string>
		<string>Nunito.ttf</string>
		<string>PublicSans.ttf</string>
		<string>SpaceGrotesk.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
